body{
    background-color: #242424; color: honeydew; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.vr_box {
    float:left;
    padding:3px;
}
a{text-decoration: #242424;color: #bbbbbb; }
.vr_link{widows: 100%; text-align: right}
.vr_link a{
    widows: 100%;
    background-color: #1e1e1e;       
    text-align: center;
    vertical-align: middle;
    padding:1px 40px;
    font-size: 120%; 
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 190, .1);       
}
.vr_link a:hover{
    background-color: #1f1f1f;
    color:white;
    cursor: pointer; 
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 190, .1);
}

/* Firefox old*/
@-moz-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 

@-webkit-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
}
/* IE */
@-ms-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 
.blink {
    -moz-animation: blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1.5s infinite ease-in-out; /* IE */
    animation: blink normal 1.5s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
.widget_mark {
    /*    z-index: 2; 
    position: absolute; */
    top:0px; left:0px; 
    height:32px; width:32px;
}
.widget {
    position: relative; 
    background-color:#1e1e1e;
}
.widget_cap {
    z-index: 2; 
    position: absolute; 
    top: 10px; left: 120px; height:20px; 
    text-shadow: #000 0px 0px 1px; -webkit-font-smoothing: antialiased;letter-spacing: .1em;
}
.widget_latest_file{
    
}
.widget_bar{
    width:100%;     
    height: 40px;
    background-color: #1e1e1e;
}
.widget_bar div{
    font-size: 80%;
    padding: 3px 7px;
}
.widget_bar div a:hover{color:white;}
.widget_err{color: red;}
.widget_status_ok{color: rgb(4, 56, 4);}
.widget_status_err{color: red;}
.widget_status{color: orangered;}

.widget_btn_bar{
    z-index: 2; 
    position: absolute;  
    top:3px; left:3px;
    height:36px;
    width: 120px;
}
.widget_btn{
    /*z-index: 2; 
    position: absolute;  
    top:7px; left:45px;    */
    background-color: rgba(55, 55, 56, 0.445);
    float:left; 
    color: honeydew;
    text-align: center;
    vertical-align: middle;
    padding:0px;
}
.widget_btn:hover{
    background-color: rgba(44, 44, 44, 0.63);
    cursor: pointer; 
}
div.img_main{
    width:800px; 
    padding: 10px; 
    float: left;
}
div.img_file{
    width:200px; 
    padding: 10px; 
    float: left;
}

.panel {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; 
    table-layout: fixed; 
    width: 20%; 
    float: left;
    text-align: left;
    overflow: hidden;
}

.panel ul li a {
    display: block;
    padding: 7px 20px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.panel ul li a:hover {background-color: rgb(53, 53, 53);}
.log_box{
    width: 80%;
    float: left;
}
.log_box pre{text-align: left}