body{
    background-color: #242424; color: honeydew; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.vr_box {
    height:300px;
    width:400px
}
a{text-decoration: #242424;color: #bbbbbb; }
.vr_link{widows: 100%; text-align: right}
.vr_link a{
    widows: 100%;
    background-color: #7e7e7e;       
    text-align: center;
    vertical-align: middle;
    padding:1px 40px;
    font-size: 120%;        
}
.vr_link a:hover{
    background-color: #949494;
    color:white;
    cursor: pointer; 
}

/* Firefox old*/
@-moz-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 

@-webkit-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
}
/* IE */
@-ms-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 
.blink {
    -moz-animation: blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1.5s infinite ease-in-out; /* IE */
    animation: blink normal 1.5s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
.widget_mark {
        z-index: 2; 
    position: absolute; 
    top:0px; left:0px; 
    height:40px; width:40px;
}
.widget {
    position: relative; 
    width: 100%; height:100%; 
    background-color: gray;
}
.widget_cap {
    z-index: 2; 
    position: absolute; 
    top: 10px; left: 120px; height:20px; 
    text-shadow: #000 0px 0px 1px; -webkit-font-smoothing: antialiased;letter-spacing: .1em;
}
.widget_latest_file{
    
}
.widget_bar{
    width:100%;     
    background-color: #7e7e7e;
}
.widget_bar div{
    font-size: 80%;
    padding: 3px 7px;
}
.widget_bar div a:hover{color:white;}
.widget_err{color: red;}
.widget_status_ok{color: rgb(4, 56, 4);}
.widget_status_err{color: red;}
.widget_status{color: orangered;}

.widget_btn{
    z-index: 2; 
    position: absolute;  
    top:7px; left:45px;    
    background-color: rgba(55, 55, 56, 0.445);
    float:left; 
    color: honeydew;
    text-align: center;
    vertical-align: middle;
    padding:4px 10px;
    font-size: 80%;
}
.widget_btn:hover{
    background-color: rgba(44, 44, 44, 0.63);
    cursor: pointer; 
}