<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset={charset} />
        <title>{{ content.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
    <body>
        <h1>{{ content.title }} - Simply eXtandable Video Recording System</h1>
        {% if recorders  %}
            {% for recorder in recorders %}
            {% include 'recorder_widget.html' %}
            {% endfor %}  
        {% else %}    
            {% include 'no_recorders.html' %}
        {% endif %}  
    </body>
</html>