<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset={charset} />
        <title>{{ content.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
    <body>
        <h1><a href="/">{{ content.title }}</a> - Simply eXtendable Video Recording System</h1>
        {% if recorders  %}
            {% for recorder in recorders %}
            <div class="vr_box"><div class="vr_link"><a href="recorder/{{ recorder.name }}">{{ recorder.name }}</a></div>
            {% include 'recorder_widget.html' %}
            </div>
            {% endfor %}  
        {% else %}    
            {% include 'no_recorders.html' %}
        {% endif %}  
    </body>
</html>