<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset={charset} />
        <title>{{ content.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
    <body>
        <h1><a href="/">{{ content.title }}</a> - Simply eXtendable Video Recording System</h1>
        {% if recorders  %}
            {% for recorder in recorders %}
            <div class="vr_box"><div class="vr_link"><a href="recorder/{{ recorder.name }}">{{ recorder.name }}</a></div>
            <div class="widget" id="{{ recorder.name }}" {% if recorder.width  %} style="width:{{ recorder.width }}px;"{% endif %}>
            </div>
            </div>
            {% endfor %}  
        {% else %}    
            {% include 'no_recorders.html' %}
        {% endif %}  
        <script type="text/javascript" src="/static/sxvrs.js"></script>
        <script type="text/javascript" >  
            var widgets = document.getElementsByClassName('widget');        
            function UpdateWidget(){
                [].forEach.call(widgets, function (el) {
                    loadHtml(el.id, "/recorder/" + el.id + "/view_widget")
                });                
            }
            UpdateWidget()
            var reload = setInterval(UpdateWidget, {{ content.refresh_img_speed }});
        </script>          
    </body>
</html>