<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset={charset} />
        <title>{title}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
    <body>
        <div style="width:100%; height:100%; text-align:center">
            <div style="width:800px; height: 600px; margin: 0 auto;padding:10px">{widget}</div>
            <diw  class="log_box" style="">
                <pre>
{log_box}
                </pre>
            </diw>
        </div>
    </body>
</html>