<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="{{ charset }}" />
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
    <body>
        <h1>{{ title }}</h1>
        <div class="panel">
            {% if file_list  %}
                <ul>
                {% for file in file_list %}
                    <li><a href="/logs/{{ file }}">{{ file }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                Please select log file
            {% endif %}            
        </div>
        <div class="log_box">
            <pre><code>
            {% if log_filename  %}
                {{ log_box }}
            {% else %}
                Please select log file
            {% endif %}            
            </code></pre>
        </div>
    </body>
</html>