<h3>Oops, looks like there is no any device.</h3><br>
                This may be caused by:<br>
                <ul>
                    <li> 1. sxvrs_daemon is not started yet. You just need to wait and refresh this page</li>
                    <li> 2. There is no any available recorder configured in configuration file </li>
                    <li> 3. sxvrs_daemon is down</li>
                    <li> 4. There are some problems with MQTT server or configuration for using it</li>
                    <li> 5. Something weird happen..</li>
                </ul>
                <br>
                Please note: This HTTP server is independent application and comunicates with sxvrs_daemon only by mqtt messages