<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset={charset} />
        <title>{{ content.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
    <body>
        <h1><a href="/">SXVRS</a> - <a href="/recorder/{{ content.recorder_name }}">{{ content.recorder_name }}</a></h1>
        <div style="width:100%; text-align:center">
            <div><h2 id="view_caption"></h2></div>
            <div style="width:200px; float:left">&nbsp;</div>
            <div class="img_main">{% include 'recorder_widget.html' %}</div>
            <div id="snapshots"></div>
        </div>
        <div style="width:100%; text-align:center">
            <diw  class="log_box"><pre id="log"></pre></diw>
        </div>
        <script type="text/javascript" >
            /*
            * Replicates the functionality of jQuery's `load` function, 
            * used to load some HTML from another file into the current one.
            * 
            * Based on this Stack Overflow answer:
            * https://stackoverflow.com/a/38132775/3626537
            * And `fetch` documentation:
            * https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch
            * 
            * @param {string} parentElementId - The ID of the DOM element to load into
            * @param {string} htmlFilePath - The path of the HTML file to load
            */
            const loadHtml = function(parentElementId, filePath) {
                const init = {
                    method : "GET",
                    headers : { "Content-Type" : "text/html" },
                    mode : "cors",
                    cache : "default"
                };
                const req = new Request(filePath, init);
                fetch(req)
                    .then(function(response) {
                        return response.text();
                    })
                    .then(function(body) {
                        // Replace `#` char in case the function gets called `querySelector` or jQuery style
                        if (parentElementId.startsWith("#")) {
                            parentElementId.replace("#", "");
                        }
                        document.getElementById(parentElementId).innerHTML = body;

                    });
            };
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays*24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }          
            function ChangeMedia(){
                var rec_view = getCookie("rec_view");
                if (rec_view == "") {
                    var rec_view = "snapshot"
                }
                var d = new Date();
                var t = d.getTime();
                document.getElementById("view_caption").innerHTML = rec_view
                document.getElementById('camera_{{ recorder.name }}').src = "{{ recorder.snapshot }}/"+rec_view+"?"+t;
                loadHtml("snapshots", "/recorder/{{ content.recorder_name }}/view_snapshots")
                loadHtml("log", "/recorder/{{ content.recorder_name }}/view_log")
            }
            document.cookie = "rec_view=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            ChangeMedia()
            var reload = setInterval(ChangeMedia, {{ recorder.refresh_img_speed }});
            function view_snapshot(view_name){
                setCookie("rec_view", view_name, 1)
                ChangeMedia()
            }
        </script>       
    </body>
</html>