<div class="widget" {% if recorder.width  %} style="width:{{ recorder.width }}px;"{% endif %}>
    <div class="widget_cap" id="vr_{{ recorder.name }}">{{ recorder.name }}</div>
    {% if recorder.state_img  %}
    <img class="widget_mark {{ recorder.blink }}" src="{{ recorder.state_img }}" />
    {% endif %}
    <a class="widget_btn" href="/recorder/{{ recorder.name }}/{{ recorder.btn_name }}">{{ recorder.btn_name }}</a>
    <div><img src="{{ recorder.snapshot }}" style="width:100%; height:94%" /></div>
    <div class="widget_bar">
        <div style="float:right;" class="{{ recorder.widget_err }}">{{ recorder.error_cnt }}</div>
        <div style="float:right;" class="{{ recorder.widget_status }}">{{ recorder.status }}</div>
        <div class="widget_latest_file">
            <a href="">{{ recorder.latest_file }}</a>
        </div>
    </div>
</div>