<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset={charset} />
        <title>{{ content.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
    <body>
        <h1><a href="/">SXVRS</a> - <a href="/recorder/{{ content.recorder_name }}">{{ content.recorder_name }}</a></h1>
        <div style="width:100%; text-align:center">
            <div><h2 id="view_caption"></h2></div>
            <div style="width:200px; float:left">&nbsp;</div>
            <div class="img_main">{% include 'recorder_widget.html' %}</div>
            <div id="snapshots"></div>
        </div>
        <div style="width:100%; text-align:center">
            <diw  class="log_box"><pre id="log"></pre></diw>
        </div>
        <script type="text/javascript" src="/static/sxvrs.js"></script>
        <script type="text/javascript" >          
            function ChangeMedia(){
                var rec_view = getCookie("rec_view");
                if (rec_view == "") {
                    var rec_view = "snapshot"
                }
                var d = new Date();
                var t = d.getTime();
                document.getElementById("view_caption").innerHTML = rec_view
                document.getElementById('camera_{{ recorder.name }}').src = "{{ recorder.snapshot }}/"+rec_view+"?"+t;
                loadHtml("snapshots", "/recorder/{{ content.recorder_name }}/view_snapshots")
                loadHtml("log", "/recorder/{{ content.recorder_name }}/view_log")
            }
            document.cookie = "rec_view=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            ChangeMedia()
            var reload = setInterval(ChangeMedia, {{ recorder.refresh_img_speed }});
            function view_snapshot(view_name){
                setCookie("rec_view", view_name, 1)
                ChangeMedia()
            }
        </script>       
    </body>
</html>