<div class="widget_btn_bar">
    {% if recorder.btn_rec_img  %}
    {% if not recorder.status in ['inactive','error'] %}
    <a class="widget_btn" href="/recorder/{{ recorder.name }}/record/{{ recorder.btn_rec_cmd }}" title="{{ recorder.btn_rec_name }}">
    {% endif %}
<img class="widget_mark {% if recorder.status in ['started'] %} blink {% endif %}" src="{{ recorder.btn_rec_img }}" />
    {% if not recorder.status in ['inactive','error'] %}
    </a>
    {% endif %}
{% endif %}
{% if not recorder.status in ['inactive','error']  %}
    {% if recorder.watcher  %}
    <a class="widget_btn" href="/recorder/{{ recorder.name }}/watcher/stop" title="Stop Watcher">
        <img class="widget_mark {% if recorder.watcher %} blink {% endif %}" src="/static/watcher_on.png" />        
    </a>
    {% else %}
    <a class="widget_btn" href="/recorder/{{ recorder.name }}/watcher/start" title="Start Watcher">
        <img class="widget_mark" src="/static/watcher_off.png" />        
    </a>
    {% endif %}
{% endif %}
</div>

<div><img id="camera_{{ recorder.name }}" src="{{ recorder.snapshot }}" style="width:100%; height:94%" /></div>
<div class="widget_bar">
    <div style="float:right;" class="{{ recorder.widget_err }}">{{ recorder.error_cnt }}</div>
    <div style="float:right;" class="{{ recorder.widget_status }}">{{ recorder.status }}</div>
    <div class="widget_latest_file">
        <a href="">{{ recorder.latest_file }}</a>
    </div>
</div>
